/* Main */

html {
	position: relative;
	min-height: 100%;
}

body {
	padding-top: 2em;
	padding-bottom: 2em;
	margin-bottom: 4em;
	background-color: #eee;
	font-family:'open_sans';
	color:#838485;
}

.nav_info {
	position: absolute;
    right: 0px;
}

hr {
    height: 30px;
    border-style: solid;
    border-color: gray;
    border-width: 1px 0 0 0;
    border-radius: 20px;
}

hr:before {
    display: block;
    content: "";
    height: 30px;
    margin-top: -31px;
    border-style: solid;
    border-color: gray;
    border-width: 0 0 1px 0;
    border-radius: 20px;
}

.photo {
	object-fit: cover;
 	border-radius: 50%;
	width: 15em;
	height: 15em;
 	-webkit-filter: grayscale(100%);  
}

/* Index */

.logo {
	margin: 3% 30%;
}

.logo img {
	width: 100%;
	height: 100%; 
}

.start_form {
	max-width: 30%;
	padding: 1%;
	margin: 0 auto;
}
.start_form {
	margin-bottom: 1%;
}

.start_form .form-control {
	position: relative;
	height: auto;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	padding: 1em;
	font-size: 1em;
}

.start_form .form-control:focus {
	z-index: 2;
}

.start_form input[type="email"] {
	margin-bottom: -1px;
	border-bottom-right-radius: 0;
	border-bottom-left-radius: 0;
}

.form-start input[type="text"] {
	margin-bottom: 1em;
	border-top-left-radius: 0;
	border-top-right-radius: 0;
}

.start_buttons {
	margin: 4% 0em;
}

@media(max-width: 500px) {
	.index_small {
		font-size: 0.6em !important;
	}
}

/* Footer */

.footer {
	position: absolute;
	bottom: 0;
	width: 100%;
	height: 4em;
	background-color: #f5f5f5;
}

#footer {
	margin-top: 1%;
	text-align: center;
}

/* Buttons */

.btn {
	position: relative;
	font-weight: bold;
	text-transform: uppercase;
	border-radius: 1em;
    font-size: 1em;
    padding: 1em 2em;
	border:none;
	cursor: pointer;
}

.btn.btn-success{
    background: #76c2af;
    border-bottom: solid 4px #65b4a0;
}

.btn.btn-success:hover{
    background: #70baa7;
}


.btn.btn-info{
    background: #77b3d4;
    border-bottom: solid 4px #67a1c1;
}

.btn.btn-info:hover{
    background-color: #70a8c7;
}

.btn.btn-danger{
    background: #c75b5b;
    border-bottom: solid 4px #b14949;
}

.btn.btn-danger:hover{
    background: #bc5555;
}

/* Registration*/

.reg_form {
	margin-top: 5%;
}

.nowrap {
	-webkit-filter: none;  
}

#reg_submit {
	margin: 0em 0em;
	letter-spacing: 3px;
}

#reg_upload {
	font-size: 0.8em;
	width: 100%;
	margin: 2em 0em;
	letter-spacing: 2.5px;
}

#reg_upload_input {
	display:none
}

/* Profile */

.wrap {
	height: 30%;
	width: 100%;
	margin-top: 20%;
}

.profile {
	margin: 2% 0em;
	text-align: center;
}

.profile_logo {
	margin-left: 18%;
	margin-top: 8%;
}

.profile_logo img {
	width: 75%;
	height: 75%;
}

.stats label {
	margin: 5% 0em;
}

input:disabled {
	background-color: #f3f3f3 !important;
	text-align: center !important;
}

.progress_user {
	margin-top: 5%;
	margin-left: 2%;
	width: 97%;
	height: 2em;
}

/* About */

.wrap .photo.about {
	width: 7em;
	height: 7em;
	margin-top: -30%; 
}

.wrap .photo.about.first {
	margin-top: 10%; 
}

.profile_logo.about_logo {
	margin-top: 4%;
}

.notice {
	margin-top: 3%;
	text-align: center;
	font-size: 1.7em;
}


blockquote {
	background: #f9f9f9;
	border-left: 10px solid #ccc;
	margin: 1.5em 10px;
	padding: 0.5em 10px;
	quotes: "\201C""\201D""\2018""\2019";
	text-align: left;
	font-size: 0.6em;
}

blockquote:before {
	color: #ccc;
	font-size: 4em;
	line-height: 0.1em;
	margin-right: 0.25em;
	vertical-align: -0.4em;
}

blockquote p {
	display: inline;
}

.about_buttons {
	font-size: 0.6em;
}

@media(max-width: 1000px) {
	#side_photo {
		display: none;
	}
}

/* Contact */


#map {
		position: absolute;
		bottom: 0;
        width: 100%;
        height: 20em;
}

@media(max-width: 1000px) {
	#map {
		position: relative !important;
		margin-bottom: -5%;
	}
}

a[href^="http://maps.google.com/maps"]{display:none !important}
a[href^="https://maps.google.com/maps"]{display:none !important}

.gmnoprint a, .gmnoprint span, .gm-style-cc {
    display:none;
}

.gmnoprint div {
    background:none !important;
}

.contact_info {
	margin-top: 5%;
	margin-left: 5%
	width: 100%;
	height: 20%;
}

.down {
	margin-top: 5%;
	width: 80%;
}

.relative {
	margin-bottom: 5%;
}

/* Donate */

#why {
	margin-top: 40%;
}

@media (max-width: 993px) {
	#why {
		margin-top: 10%;
	}
	
	#currency {
		display: none;
	}
}

.donate {
	margin-top: 10%;
}

.don {
	height: 80%;
}

.down_h {
	margin-top: 10%;
	width: 100%;
}

#currency {
	font-size: 1.5em;
}

@media (max-width: 1200px) {
	@media (min-width: 992px) {
		.down_h {
			margin-top:0%;
		}
	}
}

.small_text {
	font-size: 1em;
}

#donate_button {
	margin-top: 5%;
}

/* Orientation */

.orientation_image {
	width: 100%;
	margin-left: 0%;
	margin-top: 30%;
}

.question {
	margin-top: 5%;
}

.orientation_button {
	margin-top: 5%;
}

.male {
	margin-left: -20%;
	margin-top: 120%;
	height: 100%;
}

.female {
	margin-left: 40%;
	margin-top: 7%;
	height: 100%;
}

@media (max-width: 1000px) {
	.male, .female {
		display: none;
	}
}

@media (min-height: 700px) {
	.male {
		margin-top: 140%;
	}
}

@media(max-width: 500px) {
	.index_not_so_small {
		font-size: 0.85em !important;
	}
}

/* APM Test */

.apm_image {
	margin-top: 10%;
	margin-left: 0;
}

#apm__real_counter {
	margin-top: 10%;
}

#apm_start, #apm_end {
	margin-top: 5%;
}

.apm_progress {
	margin-top: 25%;
	width: 100%;
	height: 3em;
}

.progress-bar-vertical {
  width: 4em;;
  height: 30em;
  margin-top: 20%;
}

.progress-bar-vertical .progress-bar {
  width: 100%;
  height: 0;
}

#bar_1 {
	margin-left: 10%;
}

#bar_2 {
	margin-left: 60%;
}

#bar_3 {
	margin-top: 15%;
	height: 3em;
}

@media (max-width: 1000px) {
	#bar_1, #bar_2 {
		display: none;
	}
	
	.apm_pricel {
		display: none;
	}
}

@media (min-width: 1000px) {
	#bar_3 {
		display: none;
	}
}

.apm_pricel {
	height: 20em;
	width: 20em;
	margin-top: 5%;
	margin-left: 0;
}